:root {
    --cor-texto-principal: #F6F6F6;
    --cor-background: #FFFFFF;
    --cor-texto-secundario: #DCB47A;
    --cor-texto-footer: #000000;
    --cor-background-secundario: #262626;
    --cor-titulo: #081323;
    --cor-texto-menor: #828282;
    --fonte-pricipal: 'Work Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-pricipal);
}

.cabecalho {
    background-image: url(./assets/background.png);
    height: 130vh;
    
}

.conteudo__cabecalho {
    display: flex;
    justify-content: end;
    gap: 80px;
    list-style-type: none;
    height: 10vh;
    align-items: center;
    font-weight: bold;
    color: var(--cor-background);
}

.imagem__footer {
    padding-right: 300px;
    padding-left: 150px;
}

.titulo {
    margin: 1em 10%;
    padding-top: 15%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-principal);
    text-align: center;
}

.titulo__principal {
    padding-bottom: 0em;
    font-size: 82px;
}

.texto__titulo__principal {
    font-size: 24px;
}

.lista__busca {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.busca__botao {
    background-color: var(--cor-titulo);
    color: var(--cor-texto-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 2em 8em;
    font-weight: bold;
}

.busca__botao:hover {
    background-color: var(--cor-texto-menor);
    color: var(--cor-texto-footer);
}

.itens {
    background: linear-gradient(to bottom, transparent, #FFFFFF);
    padding-top: 24.6%;
}

.lista__itens {
    display: flex;
    justify-content: center;
    gap: 250px;
    color: var(--cor-texto-principal);
}

.conteudo__itens {
    display: flex;
    align-items: center;
}

.conteudo__itens div{
    flex-direction: column;
    padding-left: 10px;
}

.conteudo__itens h2{
    color: var(--cor-titulo);
}

.conteudo__itens p{
    color: var(--cor-texto-menor);
}