:root {
    --cor-texto-principal: #F6F6F6;
    --cor-background: #FFFFFF;
    --cor-texto-secundario: #DCB47A;
    --cor-texto-footer: #000000;
    --cor-background-secundario: #262626;
    --cor-titulo: #081323;
    --cor-texto-menor: #828282;
    --cor-background-label: #F6FFF6;
    --cor-label: #DCB47A;
    --fonte-pricipal: 'Work Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-pricipal);
}

.cabecalho {
    background-image: url(../assets/background.png);
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo__cabecalho {
    display: flex;
    justify-content: end;
    gap: 80px;
    list-style-type: none;
    height: 10vh;
    align-items: center;
    font-weight: bold;
    color: var(--cor-background);
}

.conteudo__cabecalho a {
    text-decoration: none;
    color: var(--cor-background);
}

.conteudo__cabecalho a:hover {
    color: var(--cor-texto-menor);
}

.conteudo__cabecalho a:active {
    color: var(--cor-texto-footer);
}

.imagem__footer {
    padding-right: 300px;
    padding-left: 150px;
}

.titulo {
    margin: 0 10%;
    padding-top: 15%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-principal);
    text-align: center;
}

.titulo__principal {
    padding-bottom: 0em;
    font-size: 82px;
}

.texto__titulo__principal {
    font-size: 24px;
}

.lista__busca {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.busca__botao {
    background-color: var(--cor-titulo);
    color: var(--cor-texto-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 2em 8em;
    font-weight: bold;
}

.busca__botao:hover {
    background-color: var(--cor-texto-menor);
    color: var(--cor-texto-footer);
}

.itens {
    background: linear-gradient(to bottom, transparent, #FFFFFF);
    padding-top: 25.6%;
}

.lista__itens {
    display: flex;
    justify-content: center;
    gap: 250px;
    color: var(--cor-texto-principal);
}

.conteudo__itens {
    display: flex;
    align-items: center;
}

.conteudo__itens div{
    flex-direction: column;
    padding-left: 10px;
}

.conteudo__itens h2{
    color: var(--cor-titulo);
}

.conteudo__itens p{
    color: var(--cor-texto-menor);
}

.introducao__produtos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em 0 3em 20em;
    width: 15%;
}

.titulo__produtos {
    font-size: 3em;
}

.imagem__arrow {
    width: 1em;
}

.lista__produtos {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 3em;
}

.conteudo__lista__produtos {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--cor-texto-principal);
}

.conteudo__lista__produtos a{
    padding: 5px;
    margin: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--cor-label);
    background-color: var(--cor-background-label);
    color: var(--cor-label);
    margin-top: 15px;
}

.imagem__conteudo__produtos {
    border-style: solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-color: transparent;
}
