:root {
    --cor-texto-principal: #F6F6F6;
    --cor-background: #FFFFFF;
    --cor-texto-secundario: #DCB47A;
    --cor-texto-footer: #000000;
    --cor-background-secundario: #262626;
    --cor-titulo: #081323;
    --cor-texto-menor: #828282;
    --cor-background-label: #F6FFF6;
    --cor-label: #DCB47A;
    --fonte-pricipal: 'Work Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-pricipal);
}

.cabecalho {
    background-image: url(../assets/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo__cabecalho {
    display: flex;
    justify-content: end;
    gap: 80px;
    list-style-type: none;
    height: 10vh;
    align-items: center;
    font-weight: bold;
    color: var(--cor-background);
}

.conteudo__cabecalho a {
    text-decoration: none;
    color: var(--cor-background);
}

.conteudo__cabecalho a:hover {
    color: var(--cor-texto-menor);
}

.conteudo__cabecalho a:active {
    color: var(--cor-texto-footer);
}

.imagem__footer {
    padding-right: 300px;
    padding-left: 150px;
}

.titulo {
    margin: 0 10%;
    padding-top: 8%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-principal);
    text-align: center;
}

.titulo__principal {
    padding-bottom: 0em;
    font-size: 82px;
}

.texto__titulo__principal {
    font-size: 24px;
}

.lista__busca {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.busca__botao {
    background-color: var(--cor-texto-menor);
    color: var(--cor-texto-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 2em 8em;
    font-weight: bold;
}

.busca__botao:hover {
    background-color: var(--cor-background);
    color: var(--cor-texto-footer);
}

.itens {
    background: linear-gradient(to bottom, transparent, #FFFFFF);
}

.lista__itens {
    display: flex;
    justify-content: center;
    padding: 11.3% 5% 5% 5%;
    gap: 15%;
    color: var(--cor-texto-principal);
}

.conteudo__itens {
    display: flex;
}


.conteudo__itens div{
    flex-direction: column;
}

.conteudo__itens h2{
    color: var(--cor-titulo);
}

.conteudo__itens p{
    color: var(--cor-texto-menor);
}

.introducao__produtos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em 0 3em 20em;
    width: 15%;
}

.titulo__produtos {
    font-size: 3em;
}

.imagem__arrow {
    width: 1em;
}

.lista__produtos {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 3em;
}

.conteudo__lista__produtos {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--cor-texto-principal);
    height: 480px;
}

.conteudo__lista__produtos a{
    padding: 5px;
    margin: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--cor-label);
    background-color: var(--cor-background-label);
    color: var(--cor-label);
}

.conteudo__lista__produtos p{
    font-size: 22.61px;
    display: flex;
    gap: 7em;
    align-items: center;
}

.conteudo__lista__produtos p {
    margin-bottom: 20px;
}

.juncao__carrinho {
    display: flex;
    gap: 13em;
}

.imagem__conteudo__produtos {
    border-style: solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-color: transparent;
}

.plantas__de__referencia {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 400px;
}

.plantas__de__referencia h4 {
    font-size: 64px;
}

.plantas__de__referencia p {
    font-size: 24px;
    color: var(--cor-texto-menor);
    margin: 30px 0 70px 0;
}

.primeiro__footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--cor-background-secundario);
}

.titulo__primeiro__footer {
    color: var(--cor-background);
    font-size: 62.83px;
    margin-top: 1em;
}

strong {
    color: var(--cor-texto-secundario);
}

.primeiro__footer p {
    color: var(--cor-background);
    font-size: 20.94px;
    margin: 40px 0;
}

.div__botao__parceiria {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.botao__parceiria {
    text-align: center;
    text-decoration: none;
    background-color: var(--cor-texto-secundario);
    color: var(--cor-background);
    padding: 20px 15px;
    width: 10%;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cor-texto-secundario);
}

.botao__parceiria:hover {
    background-color: var(--cor-texto-menor);
    color: var(--cor-texto-footer);
    border-color: var(--cor-texto-menor);
}

.segundo__footer {
    margin: 0 200px;
}

.conteudo__footer {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    list-style: none;
    margin: 200px 0 40px 0;
    vertical-align: top;
}

.conteudo__footer ul{
    vertical-align: top;
}

.conteudo__footer a {
    text-decoration: none;
    color: var(--cor-texto-footer);
}

.input__footer {
    font-size: 20px;
    border-color: var(--cor-texto-menor);
    border-radius: 20px;
    height: 40px;
    margin-right: 500px;
    padding: 15px;
}

.conteudo__footer h6 {
    width: 200px;
    padding: 0 1em 1em 0;
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
}

.conteudo__footer p{
    margin: 0 0 20px 0;
}

.copyright {
    padding-top: 120px;
    height: 120px;
    text-align: center;
    font-size: 24px;
    background-color: var(--cor-background-secundario);
    color: var(--cor-background);
}

.copyright__linha {
    padding: 80px;
    color: var(--cor-texto-menor);
}

@media (max-width: 1105px) {

}